@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 200%;
}

/* color */
.bg-primary {
    background: #d3d6dc;
}

.bg-secondary {
    background: #1E293B;
}

.bg-accent {
    background: #3a3b86;
}

.text-accent {
    color: #4f4e4e;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.text-head {
    color: #4f4e4e;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #ffc310;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* hero */
h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.5 !important;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000000;
    translate: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px); 
}

.hamburger-bottom {
    transform: translateY(14px)
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}